#screen {
    width:1024px;
    height:512px;
    background-color: black;
    border: 5px solid #2b2b2b;
}

body {
    background-color: #1E1E1E;
    color: whitesmoke;
    font-family: 'Courier New', monospace;
}

button {
    margin-left: 5.1em;
}

#romLabel {
    display: inline-block;
    margin-left: 1.2em;
}

#foregroundColorLabel {
    display: inline-block;
    margin-left: 5.1em;
}

#foregroundColorInput {
    display: inline-block;
    margin-left: 0.2em;
}

#backgroundColorInput {
    display: inline-block;
    margin-left: 0.2em;
}

#runOnLoadLabel {
    display: inline-block;
    margin-left: 5.1em;
}

#debugPanel {
    display: inline-block;
    vertical-align: top;
    margin-top: 1%;
    margin-left: 1.5%;
}

#registers1 {
    vertical-align: top;
    display:inline-block;
    width: 14em;
}

#gpRegistersLabel{
    vertical-align: top;
    display:inline-block;
}

#gpRegistersPanel {
    display: inline-block;
}

#registers2 {
    display:inline-block;
    width: 5em;
}

#registers3 {
    display:inline-block;
    margin-left: 30%;
    width: 5em;
}


#stackDiv {
    display: inline-block;
    vertical-align: top;
    margin-left: 3.2em;
}
 

#scrollableStack {
    height: 6.5em;
    padding-right: 1.5em;
    overflow-y: auto;
}
 
#instructionsPanel {
    display: inline-block;
    vertical-align: top;
    margin-left: 1em;
}

#scrollableInstructions {
    height: 20em;
    width: 13.5em;
    text-align: left;
    list-style-position: inside;
}

#instructionList{
    overflow-y: hidden;
    height: 20em;
}

ol.hide-bullets {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

#title{
    text-align: center;
    font-family: 'Courier New', monospace;
}

#mainContent{
    padding-left: 4%;
    margin: auto;
    width: auto;
}

label {
    font-weight: bold;
}

span {
    font-weight: normal;
}
