#screen {
    width:1024px;
    height:512px;
    background-color: black;
    border: 5px solid #2b2b2b;
}

body {
    background-color: #1E1E1E;
    color: whitesmoke;
    font-family: 'Courier', monospace;
}

button {
    margin-left: 30px;
}

#romLabel {
    display: inline-block;
    margin-left: 5px;
}

#foregroundColorLabel {
    display: inline-block;
    margin-left: 30px;
}

#backgroundColorLabel {
    display: inline-block;
    margin-left: 30px;
}

#foregroundColorInput {
    display: inline-block;
    margin-left: 5px;
}

#backgroundColorInput {
    display: inline-block;
    margin-left: 5px;
}

#debugPanel {
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    margin-left: 20px;
}

#registers1 {
    vertical-align: top;
    display:inline-block
}

#gpRegistersLabel{
    vertical-align: top;
    display:inline-block;
}

#gpRegistersPanel {
    display: inline-block;
}

#registers2 {
    display:inline-block;
}

#registers3 {
    display:inline-block;
    margin-left: 87px;
}


#stackDiv {
    display: inline-block;
    vertical-align: top;
    margin-left: 5em
}
 

#scrollableStack {
    height: 6.5em;
    margin: 0em;
    padding-right: 1.5em;
    overflow-y: auto;
 }
 