#screen {
    width:1024px;
    height:512px;
    background-color: black;
    border: 1px solid black;
}

body {
    background-color: #1E1E1E;
    color: whitesmoke;
}

button {
    margin-left: 25px;
}

#romLabel {
    display: inline-block;
    margin-left: 5px;
}

